*{
    margin: 0px;
    padding: 0px;
}


.container
{
    width: 1200px;
    margin: 0px auto;
}

form > button
{   
    width:200px; 
    padding: 5px 20px;
    margin: 0 auto;
}

#register, #login
{
    width: 400px;
}